* {
  box-sizing: border-box;
}

#twitter {
  width: 1920px;
  height: 305px;
  background-color: rgb(75, 202, 255);
  padding-left: 375px;
  padding-top: 80px;
  padding-right: 375px;
}

.tweet {
  width: 1180px;
}

h1 {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0%;
  margin-top: 0%;
}

#whois {
  width: 1920px;
  padding-top: 100px;
  padding-left: 375px;
  padding-right: 375px;
  height: 505px;
  background-color: rgb(81, 95, 103);
  background-image: url(https://raw.githubusercontent.com/joansor/blueasy/master/image/whois.jpg);
  background-position: center;
}

.content {
  width: 1200px;
}
.box {
  width: 590px;
  display: inline-block;
  vertical-align: top;
}

p {
  color: white;
  line-height: 22px;
}

.jumbotron-icon .fa-3 {
  font-size: 4em;
  margin-right: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: white;
}

.fa {
  display: inline-block;
}

#tweet {
  line-height: 40px;
}

hr {
  margin-top: 0%;
  color: white;
  max-width: 50px;
  margin-left: 0;
  border: 2px solid;
}
